<div class="container-flex d-flex justify-content-end m-2 searchBarDiv">
  <span class="mr-2"
    >{{ (cards$ | async)?.value?.length }}/{{ totalCount$ | async }}</span
  >
  <input
    type="text"
    name="searchValue"
    placeholder="Search by name"
    class="form-control w-25"
    [ngModel]="searchValue"
    (ngModelChange)="searchbyName($event)"
  />
</div>

<ng-container *ngIf="(cards$ | async) !== undefined" class="container">
  <div class="row">
    <div *ngFor="let cardItem of (cards$ | async)?.value" class="col-2">
      <div class="card">
        <img
          [src]="cardItem.imageUrl"
          class="card-img-top"
          [alt]="cardItem.imageUrl"
        />
        <div class="card-body">
          <h5 class="card-title">{{ cardItem.cardName }}</h5>
          <p class="card-text">
            {{ cardItem.cardText }}
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ cardItem.type }}</li>
          <li class="list-group-item">{{ cardItem.setName }}</li>
        </ul>
      </div>
    </div>
  </div>
</ng-container>

<div class="d-flex justify-content-center">
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="isLoadMoreDisabled$ | async"
    (click)="loadMore()"
  >
    Load More
  </button>
</div>
